<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<title> Hound</title>
</head>
<header>
	{{>navbar}}
</header>
<body>
<div class='container' id='employeeBox'>
</div>
</body>
</html>