 <div class="header">
        <img src="/assets/sloothbanner.png">
        {{#if loggedIn}}
        <button id="logout" class="btn-logout">Logout</button>
        
        {{else}}
        <button id="login" class="btn-login" href="/">Login</button>
        {{/if}}
 </div>
     {{>navbar}} 

<script src="\javascript\logout.js"></script>
  