<<<<<<< HEAD
<div class='navbar'>
<ul>
<li><a class='active'>Dashboard</a></li>
<li><a href='{{>employees}}'></a>Employees</li>
<li><a href='{{}}'></a>Departments</li>
<li><a href='{{}}'></a>Tasks</li>
</ul>
=======
<div class="navbar">
  <a href="{{main}}">Home</a>
  <a href="{{process}}">Process</a>
>>>>>>> 1230b75baa679f96266c33aa65c4adb1e13c6926
</div>