<div class="topnav">
  <a href='/'>Home</a>
  <a href='/editpage/customer'>Customers</a>
  <a href='/editpage/department'>Departments</a>
  <a href='/editpage/process'>Processes</a>
  <a href='/editpage/project'>Projects</a>
  <a> </a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>

</div>
