<div class='navbar'>
<ul>
<li><a class='active'>Dashboard</a></li>
<li><a href='{{>employees}}'></a>Employees</li>
<li><a href='{{}}'></a>Departments</li>
<li><a href='{{}}'></a>Tasks</li>
</ul>
</div>