<div class='container' id='projectCard'>
    <h2><span id='projectTitle'></span></h2>
<div id='log'>
    <span></span>
    <span></span>
    <span></span>
</div>
<div id='contributors'>
    <h3>Contributors</h3>
    <span></span>
</div>

</div>