<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<title>Slooth Hound</title>
</head>
<header>
   {{>header}}
</header>
<body>
   {{>login}} 
</body>
</html>
