<section>
  <h2>Create New Project</h2>

  <form class="new-project-form">
    <div>
      <label for="project-title">Title</label>
      <input type="text" id="project-title" name="project-title" />
    </div>
    <div>
      <label for="project-content">Content</label>
      <textarea id="project-content" name="project-content"></textarea>

    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if projects.length}}
<section>
  <h2>Your Projects</h2>
  <ol>
    {{#each projects as |project|}}
    <li>
      {{> project-info project}}
      <a href="/dashboard/edit/{{project.id}}" class="edit-link">Edit project</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-project.js"></script>