body {
  background-color: rgb(146, 140, 53); 
}


li {
  list-style-type: none;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-column-gap: 30px;
    margin: 15px;
} 
body{
  background-color: #73B8C9;
}

.card {
  display: grid;
  width:200px;
  margin: 15px;
}
.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.card-text {
  font-size: 16px;
  text-align: left;
  margin:0;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1800px;
}



form{
    display: flex;
    justify-content: space-around;
    width: inherit;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}
.topnav {
  background-color: #4A5660;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header{
  display: flex;
  width:100%;
  background-color: #CFD1D0;
  border-color: #001E1F;
  border-radius: 10px;
}

.btn-outline-secondary {
  background-color: #83A00A;
  color: #C53A83;
  color: black !important;
}
.topnav a:hover {
  background-color: #66C48D;
  color:#261E0B;
}

.header img{
  width: 100%;
  height:100%;
}

.btn-primary {
  background-color: rgb(88, 85, 105);
  color: white !important;

}

.btn-logout,.btn-login {
  background-color: rgb(88, 85, 105);
  color: white !important;
  margin: 30;
  float:right;
  /* position: relative;
  top: 50%;
  left:35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.dropdown{
display:none;
}


@media only screen and (max-width:600px){
  .regTopnav{
  display: none;
  }


  .dropbtn {
    background-color: #4A5660;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #4A5660}

  .card {
    display: grid;
    width:100x;
    margin: 15px;
  }
  .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  .card-text {
    font-size: 16px;
    text-align: left;
    margin:0;
  }
  
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1800px;
  }

}

