body {
  background-color: rgb(146, 140, 53); 
}


li {
  list-style-type: none;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-column-gap: 30px;
    margin: 15px;
} */
body{
  background-color: #73B8C9;
}

.card {
  display: grid;
  width:200px;
  margin: 15px;
}
.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.card-text {
  font-size: 16px;
  text-align: left;
  margin:0;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1800px;
}



form{
    display: flex;
    justify-content: space-around;
    width: inherit;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}
.topnav {
  background-color: #4A5660;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header img{
  width: 70px;
  height:70px;
  padding:10px;
}
.header{
  display: flex;
  width:100%;
  height:70px;
  background-color: #CFD1D0;
  border-color: #001E1F;
  border-radius: 10px;
}

.btn-outline-secondary {
  background-color: #83A00A;
  color: #C53A83;
  color: black !important;
}
.topnav a:hover {
  background-color: #66C48D;
  color:#261E0B;
}


.header img{
  width: auto;
}


