/* .card-grid {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-column-gap: 30px;
    margin: 15px;
} */
body{
  background-color: #73B8C9;
}

.btn-outline-secondary {
  background-color: #83A00A;
  color: #C53A83;
  color: #83A00A;
}

form{
    display: flex;
    justify-content: space-around;
    width: inherit;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}
.topnav {
  background-color: #4A5660;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #66C48D;
  color:#261E0B;
}


.header img{
  width: auto;
}


